{% extends "main/base.html" %}

{% load static%}

{% block style_css %}    
<link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock  %}
{% block content_page %}
<div class="my-5 pt-5 px-2 pb-2 bg-white custom-shadow rounded">
    <h2 class="m-2"><strong>О нас</strong></h2>
    <p class="m-2" style="font-size: 1.2rem;">
        Добро пожаловать в онлайн-магазин [Название магазина], где каждый клиент находит идеальное сочетание качества, удобства и первоклассного сервиса. 
        Мы создавали этот проект с одной главной целью — превратить привычный процесс покупок в максимально комфортное, приятное и вдохновляющее занятие. 
        В нашем постоянно обновляющемся каталоге собраны товары, которые проходят строгий многоэтапный контроль качества, ведь мы сотрудничаем исключительно с надежными и проверенными производителями. 
        Мы внимательно следим за актуальными мировыми трендами и регулярно пополняем ассортимент самыми горячими новинками, чтобы вы всегда имели доступ к лучшему. 
        Благодаря прямой работе с поставщиками без лишних посредников, наш магазин поддерживает честную и разумную ценовую политику, сохраняя выгоду для каждого покупателя. 
        Мы берем на себя все заботы по организации бережной и оперативной доставки, гарантируя, что ваш заказ прибудет по указанному адресу точно в срок и в идеальном состоянии. 
        Наша служба поддержки работает непрерывно, и наши консультанты всегда искренне рады помочь вам сориентироваться в многообразии выбора, подробно рассказать о характеристиках каждой позиции или оперативно решить любой возникший вопрос. 
        Мы ценим ваше доверие и ежедневно работаем над тем, чтобы превосходить ваши ожидания, делая онлайн-шопинг простым, безопасным и по-настоящему приятным событием.
    </p>
</div>
{% endblock  %}
{% block footer %}
<footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
        </div>
</footer>
{% endblock  %}
